* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  display: grid;
  place-items: center;
  background-color: rgb(89, 83, 83);
  height: 100dvh;
}

#app {

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

canvas {
  background-color: rgb(36, 35, 35);
  box-shadow: 0 0 15px black;
}

button {
  padding: 10px 25px;
  background-color: rgb(150, 96, 96);
  border: 0;
  font-size: 1.2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: 0 0 4px black;
}

button:not([disabled]):active {
  background-color: rgb(174, 112, 112);
  transform: scale(0.85);

}